

*/Build
*/Binaries
*/DerivedDateCache
*/Intermediate
*/Saved




BuldingEscape/Content/StarterContent/

*.VC.db
*_BuildData.uasset
*.VC.opendb
*.sln
BuldingEscape/.vs/BuldingEscape/v15/Browse.VC.opendb
